<div class="container">
  <app-product-filter></app-product-filter>
  <ng-container *ngIf="productDataLoaded === true; then renderTable; else waitForData"></ng-container>

  <ng-template #waitForData>
    <app-load-data-spinner></app-load-data-spinner>
  </ng-template>

  <ng-template #renderTable>
    <table class="table">
      <tr>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">Total quantity in stock</th>
      </tr>
      <tbody>
      <ng-container *ngFor="let product of products | slice: 1: paginationConfig.pageSize">
        <tr [ngClass]="(product.price <= 0)?'table-danger':''">
          <td>{{product.name}}</td>
          <td>{{product.price | currency: 'EUR'}}</td>
          <td>{{product.quantity}}</td>
          <td>
            <button [routerLink]="['/products', product.id]" queryParamsHandling="merge" class="btn btn-primary">View
              Details
            </button>
          </td>
          <td>
            <button (click)="openOrderProductModal(product.id)" class="btn btn-primary">Purchase
            </button>
          </td>
          <ng-container *ngIf="(authService.isAuthenticated$ | async) === true">
            <td>
              <button [routerLink]="['/admin/products/edit', product.id]" queryParamsHandling="merge"
                      class="btn btn-primary">Edit
              </button>
            </td>
            <td>
              <button type="button" (click)="increaseProductQuantityByOne(product.id)" queryParamsHandling="merge"
                      class="btn btn-primary">+ Increase product quantity
              </button>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
    <pagination [(ngModel)]="currentSelectedPage" [totalItems]="paginationConfig.totalItems" [boundaryLinks]="true"
                (pageChanged)="pageChanged($event)"></pagination>
  </ng-template>

  <app-order-modal></app-order-modal>
</div>

