<div class="container">
  <ng-container *ngIf="createContactResult === true; then onSuccessView; else contactFormView"></ng-container>
  <ng-template #onSuccessView>
    <div class="alert alert-success">
      <strong>Success!</strong> Your message was sent correctly.
    </div>
  </ng-template>
  <ng-template #contactFormView>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>E-mail:</label>
        <input id="emailId" name="email" formControlName="email" type="text" class="form-control"
               placeholder="Enter e-mail">
      </div>
      <div class="form-group">
        <label>Message</label>
        <textarea id="messageId" formControlName="message" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </ng-template>
  <app-form-error-handler [form]="form"
                          [errMapping]="[
                                {fieldId: 'emailId', validatorType:'email',invalidMessage:'Email address field is invalid.'},
                                {fieldId: 'emailId', validatorType:'required',invalidMessage:'The above field is required.'},
                                {fieldId: 'messageId', validatorType:'required',invalidMessage:'The above field is required.'},
                                {fieldId: 'messageId', validatorType:'maxlength',invalidMessage:'Maximum allowed 200 characters.'}]"
                          [parentRef]="ref"
                          [wasSubmitted]="submitted">
  </app-form-error-handler>

</div>
