<div class="container">
  <div class="border border-light p-3 mb-4">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-md-5" role="group" aria-label="First group">
        <button type="button" [routerLink]="['/products']" class="btn btn-secondary">Products</button>
      </div>
      <div class="btn-group mr-5" role="group" aria-label="Second group">
        <button type="button" [routerLink]="['messages']" class="btn btn-secondary">Messages</button>
      </div>
    </div>
  </div>
</div>
